[Unit]
Description=telegram bot

[Service]
WorkingDirectory=/root/test_telegramm_bot
ExecStart=/root/test_telegramm_bot/venv/bin/python server.py

[Install]
WantedBy=multi-user.target
